[package]
name = "delegate"
description = "Method delegation with less boilerplate"
version = "0.1.2"
authors = ["Godfrey Chan <godfreykfc@gmail.com>"]
repository = "https://github.com/chancancode/rust-delegate"
readme = "README.md"
license = "MIT OR Apache-2.0"

[dependencies]
